body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left {
    width: 70%;
    border: 2px solid black;
    border-right: none;
    padding: 25px;
    box-sizing: border-box;
}

.right {
    width: 30%;
    border: 2px solid black;
    padding: 25px;
    box-sizing: border-box;
    background: hotpink;
}

.right h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

/* NAV LIST */
.right ul {
    list-style: none;
    padding: 0;
}

.right ul li {
    padding: 12px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}

.right ul li:hover {
    background: lightgreen;
}

.content-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-text {
    font-size: 16px;
    line-height: 1.4;
}